<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
    <div>
        <h3>Khóa học đã xóa</h3>
        <a href="/me/stored/courses">Quay lại danh sách khóa học</a>

        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả
                </label>
            </div>

            <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
                <option value="">-- Chọn hành động --</option>
                <option value="restore">Khôi phục</option>
                <option value="destroy">Xóa vĩnh viễn</option>
            </select>

            <button class="btn btn-primary btn-sm check-all-submit-btn" disabled>Thực hiện</button>
        </div>

    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian xóa</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#delete-course-modal">Xóa vĩnh viễn</a>
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                    </div>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Thùng rác trống !
                    <a href="/me/stored/courses">Danh sách khóa học</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Delete Notification --}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa vĩnh viễn khóa học ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hành động này không thể khôi phục. Bạn vẫn muốn xóa khóa học này ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST">
</form>

<form name="restore-course-form" method="POST">
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseID;
        var deleteForm = document.forms['delete-course-form'];
        var containerForm = document.forms['container-form'];
        var restoreForm = document.forms['restore-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var restoreBtn = $('.btn-restore');
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseID = button.data('id');
        });

        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseID + '/force?_method=DELETE';
            deleteForm.submit();
        }

        restoreBtn.click(function(e) {
            e.preventDefault();
            var courseId = event.target.dataset.id;
            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit();
        });

        // Checkbox all changed
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');
            courseItemCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        // Course item checkbox changed
        courseItemCheckbox.change(function () {
            var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        checkAllSubmitBtn.click(function (e) {
            var isSubmitable = $(this).hasClass('disabled');
            if (isSubmitable) {
                e.preventDefault();
            }
        });

        // Re-render check all submit button
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length;
            if (checkedCount > 0) {
                checkAllSubmitBtn.attr('disabled', false);
            }
            else {
                checkAllSubmitBtn.attr('disabled', true);
            }
        }
    });



</script>